.modal {
    background-color: $white;
    position: absolute;
    padding: 10px 15px;
    padding: 0.625rem 0.9375rem;
    @include borderRadius();
    display: none;
    opacity: 0;
    left: 15px;
    right: 15px;
    @media only screen and (min-width: 769px) {
        left: 25%;
        right: 25%;
    }
    top: 100px;
    hr {
        margin-bottom: 15px;
    }
    p {
        font-size: 90%;
        color: lighten($primary, 20%);
    }
}
