<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Jet2 Modal Example">
    <meta name="keywords" content="Jet2 Modal Example">
    <meta name="author" content="Krishan Veerappa">

    <title>{% block title %}Jet2 Modal Example{% endblock %}</title>

    <script>
        (function(H) {
            H.className = H.className.replace(/\bno-js\b/, 'js')
        })(document.documentElement)
    </script>
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <link href="dist/css/jet2Modal.css" rel="stylesheet">
</head>

<body>
    <div id="skipnav"><a class="screenreader" href="#content">Skip to content</a> <span class="screenreader">|</span> <a class="screenreader" href="#footer">Skip to footer</a></div>
    <div id="screenover">

    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="dist/js/jet2Modal.js"></script>
</body>

</html>
